@media screen and (max-width: 700px)
  header.app-header
    .user-nav
      .caret
        display none
      .btn
        border 0
      .profile span.name
        display none
      .login
        margin-left 10px
        span
          display none
        i
          display inline-block
