.deployment
  .title.pull-left
    p: strong= deployment.attr('title')
    a.url(href=deployment.url(), target='_blank')= deployment.url()
  a.btn-remove.pull-right(href='#')
    i.glyphicon.glyphicon-trash
  .status.creating
    .loader-wrapper: .loader
    p= t('deployment.status.creating')
  .status.destroying
    .loader-wrapper: .loader
    p= t('deployment.status.destroying')
  .status.error
    p= t('deployment.status.error')

