#deployments-wrapper
  .deployments
    .deployment
      overflow hidden
      padding 12px
      &:hover
        background-color #f5f5f5

      .btn-remove
        color #d95e59

    .btn.purple
      border-radius 4px !important
      font-size 16px
      font-weight bold !important
      height 50px
      line-height 50px
      padding 0 12px !important
      text-transform uppercase
