main.container
  .row
    article.feed-item.deployment-new-form.col-xs-12.col-md-8.col-md-offset-2
      .feed-top
        h1.feed-title=t('maintenance.title')
        p.feed-desc=t('maintenance.body')
      a.text-center.btn.btn-link.btn-block(href='/')=t('common.back-home')
