#instances
  .row
    .col-md-offset-2.col-md-8
      .input-group.input-group-lg
        span.input-group-addon
          i.glyphicon.glyphicon-search
        input.form-control.input-lg.search(type='text', placeholder='#{t("dashboard.search.placeholder")}', autofocus)
  .row.instances.list.well
    .col-sm-8.col-md-12.call-for-create.text-center
      .panel.panel-default
        .panel-body
          span #{motto}
            a.btn.btn-primary.new(href='/instance/new')=t('dashboard.action.getdos')
