body.not-found
  background #64476e
  color white

  .content-404
    padding-top 215px
    max-width 650px
    margin 0 auto
    text-align center

    h1
      font-family 'Open Sans'

    a.go-back
      color #33163d
      height 60px
      line-height 70px

      img
        display inline-block
        max-width 240px
        margin-left 6px
