doctype html
html
  head
    title DemocracyOS Hub
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet", media="screen")

    // Fonts
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800&subset=latin,cyrillic-ext,greek-ext,greek,cyrillic,latin-ext', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')

    link(rel='stylesheet', href='/app.css')

  body.not-found
    .content-404
      h1=t('404.title')
      a.logo.go-back(href=config['host'])=t('404.go-back-to')
        h1=config['organization name']
      
