#settings-container
  #settings
    .sidebar-container
      ul.settings-menu
        li.heading= t('Settings')
        li: a(href="/settings/profile")= t('settings.sidebar.profile')
        li: a(href="/settings/password")= t('settings.sidebar.password')
        li: a(href="/settings/sessions", style="display: none;")= t('settings.sidebar.sessions')
        li: a(href="/settings/notifications")= t('settings.sidebar.notifications')
        li: a(href="/settings/deployments")= t('settings.sidebar.democracies')
    .settings-content
