header.app-header(headroom)
  #header-container
    a.logo(href='/')
      h1=config['organization name']

    .user-nav.btn-group
      .user
      a(href='/signin').login.pull-right.anonymous-user
        i.icon-signin
        span= t('header.login')
      a(href='/signup').login.pull-right.anonymous-user
        i.icon-user
        span= t('header.signup')
