body
  &.signin-page
    header
      &.app-header
        .user-nav
          a[href="/signin"]
            display none
          a[href="/signup"]
            display inline-block

#signin-form
  .title-page
    text-align center
    margin-bottom 30px
    margin-top 30px
    .circle
      background #bdc3c7
      color white
      width 80px
      height 80px
      overflow hidden
      display inline-block
      border-radius 100px

    i
      font-size 30px
      line-height 80px
      color #7f8c8d

  .form-group
    overflow hidden
    .signup
      float right
      color #666
      font-size 12px
      span
        margin-right 5px
        font-weight bold

  form
    label
      display:inline-block
    .forgot
      float:right
      a
        font-size 12px

.inner-container
  padding-left 20px
  padding-right 20px
  margin auto
  max-width content_width

.small-container
  max-width 300px
  padding-left 10px
  padding-right 10px
  margin auto
