.newsfeeds
  color black

  .newsfeed
    background white
    margin-bottom 22px
    padding 10px

    header
      a, a:hover
        color black

        h1
          margin 0

      small
        display inline-block
        margin-right 6px

        i
          margin-right 3px
