.container.newsfeeds
  - if (user.logged())
    .row
      article.col-xs-12.col-md-8.col-md-offset-2.newsfeed.start
        .profile.pull-left
          img(src=user.gravatar)
        a.name.pull-left(href='#') #{user.firstName} #{user.lastName}
        a.btn.purple.pull-right(href='#')=t('feed.call-to-action.start-a-democracy')
  .feeds
